services:
  backend:
    container_name: nokari-backend
    image: ${DOCKERHUB_USERNAME}/${IMAGE_NAME_BACKEND}:${IMAGE_TAG}
    command: uvicorn backend.app.main:app --host 0.0.0.0 --port 8000
    ports:
      - "8000:8000"
    env_file:
      - ./.env
    environment:
      - FIREBASE_CREDENTIALS_JSON=${FIREBASE_CREDENTIALS_JSON}
    networks:
      - nokari-prod-net

  frontend:
    container_name: nokari-frontend
    image: ${DOCKERHUB_USERNAME}/${IMAGE_NAME_FRONTEND}:${IMAGE_TAG}
    ports:
      - "3000:80"
    depends_on:
      - backend
    networks:
      - nokari-prod-net

networks:
  nokari-prod-net:
    driver: bridge
