services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile.fastapi
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    env_file:
      - ./.env
    networks:
      - nokari-net
  frontend:
    build:
      context: .
      dockerfile: frontend/Dockerfile
    volumes:
      - ./frontend:/app
    ports:
      - "30000:80"
    command: ["/app/wait-for-it.sh", "backend:8000", "--", "nginx", "-g", "daemon off;"]
    depends_on:
      - backend
    networks:
      - nokari-net

networks:
  nokari-net:
    driver: bridge
