services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile.fastapi
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    env_file:
      - ./.env
    networks:
      - nokari-net
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        - VITE_FIREBASE_API_KEY=${VITE_FIREBASE_API_KEY}
        - VITE_FIREBASE_AUTH_DOMAIN=${VITE_FIREBASE_AUTH_DOMAIN}
        - VITE_FIREBASE_PROJECT_ID=${VITE_FIREBASE_PROJECT_ID}
        - VITE_FIREBASE_STORAGE_BUCKET=${VITE_FIREBASE_STORAGE_BUCKET}
        - VITE_FIREBASE_MESSAGING_SENDER_ID=${VITE_FIREBASE_MESSAGING_SENDER_ID}
        - VITE_FIREBASE_APP_ID=${VITE_FIREBASE_APP_ID}
        - VITE_FIREBASE_MEASUREMENT_ID=${VITE_FIREBASE_MEASUREMENT_ID}
    volumes:
      - ./frontend:/app
    ports:
      - "30000:80"
    depends_on:
      - backend
    networks:
      - nokari-net

networks:
  nokari-net:
    driver: bridge
