Django>=6.0
gunicorn
psycopg2-binary
beautifulsoup4
requests
transformers
torch
networkx==3.4.2
numpy==2.4.1
djangorestframework
djangorestframework-simplejwt==5.5.1
django-cors-headers
google-api-python-client
pip-tools
python-json-logger
celery>=5.6.2
redis
urllib3>=2.6.0
firebase-admin
