-r requirements.txt
black
ruff==0.13.0
codespell
flake8
mypy==1.18.1
pydocstyle
bandit==1.8.6
pytest
pytest-django
coverage==7.3.2
bump2version
safety
mkdocs
mkdocs-material
django-stubs
djangorestframework-stubs
sqlalchemy-stubs
testtools==2.5.0
pip-tools
playwright
celery-stubs
