.connection-status {
  display: flex;
  align-items: center;
}

.status-icon {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.connected {
  background-color: green;
}

.disconnected {
  background-color: red;
}
